@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Whoops something went wrong</h1>
<h2 class="text-danger">Somthig has happened and we didnt expect it.</h2>

<div><a href="~/Home/Index">Click me to return to the front page</a></div>

