@import "_color";


@media(min-width:3rem)
{

     .backgroundVideo{
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
 z-index:-100;
  }

   .imageMid{
      margin:0 auto;
  }

     .hidden{
         visibility:hidden;
  }
  .cookies{
      position:fixed;
      bottom:0;
  }

   .buttonBlackGray{
        background: #000000;
background: -moz-linear-gradient(top, #000000 0%, #969696 52%, #050505 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #000000), color-stop(52%, #969696), color-stop(100%, #050505));
background: -webkit-linear-gradient(top, #000000 0%, #969696 52%, #050505 100%);
background: -o-linear-gradient(top, #000000 0%, #969696 52%, #050505 100%);
background: -ms-linear-gradient(top, #000000 0%, #969696 52%, #050505 100%);
background: linear-gradient(to bottom, #000000 0%, #969696 52%, #050505 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#050505', GradientType=0 );
margin:1rem auto;

    }


}



.Peter-Ingrediants-textbox textarea {
    height: 250px;
    width: 475px;
    border: 1px solid #B9BDC1;
    color: black;
    box-shadow: 0 2px 4px #BBB inset;
   border-radius: 10px;
   font-family: "Times New Roman, Times, serif;";
   font-size: 23px;
}
 
.Peter-Ingrediants-textbox textarea:focus
{
    background-color: #E7E8E7;
    outline: 0;
}

.Peter-Instrictions-textbox textarea {
    height: 450px;
    width: 775px;
    border: 1px solid #B9BDC1;
    color: black;
    box-shadow: 0 2px 4px #BBB inset;
   border-radius: 10px;
   font-family: "Times New Roman, Times, serif;";
   font-size: 23px;
}
 
.Peter-Instrictions-textbox textarea:focus
{
    background-color: #E7E8E7;
    outline: 0;
}


.PPtext-center 
       {
   text-align:center;
}

.pptextRight
    {
        text-align:right;
    }


    .white
    {
        background-color:$transparentWhite;
    }

    .Peter-Table, table, td, tr
    {
     border-collapse: collapse;
     border:3px, thick;
     border-color:black;
     
    background-color:rgba(255, 255, 255, 0.52);
    width:550px
    }

   
  .peter-comment
{
    
    border:solid 1px #BFBDBD;
    border-radius:10px;
    color: #979797;
    height: 128px;
    padding: 5px, 5px, 5px,5px;
    width: 291px;
    box-shadow: 2px 2px 0 #828181 inset;
    text-align:left;
    font-family:Arial;
    font-size:20px;
}

  .Peter-tablecentre {
    width:500px;
    height:150px;
    background-color:#d9d9d9;
    position:fixed;
    margin-left:-140px; /* half of width */
    margin-top:120px;  /* half of height */
    top:50%;
    left:50%;
}

  .Peter-UL ul,li
  {
      list-style-type:none;
  }





