@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Whoops something went wrong</h1>
<h2 class="text-danger">Somthing has happened to the we page, but dont worry its us and not you.</h2>

<div><a href="~/Home/Index">Click me to return to the front page</a></div>

