@model CooksCorner1._0.Models.RecipeModel



<div>
    @for (int i = 0; i < 4; i++)
    {
        
   
    <div class="col-xs-12 col-sm-6">
        <h1> CHicken thies in tika sauce</h1>
    <img src="http://www.indianfoodforever.com/images/indian-non-veg.jpg" alt="Recipe Image" class="img-responsive"/>
        

         
        
       
    </div>

    }
</div>