@{
    ViewBag.Title = "What is this website about.." ;
}
<div class="white">
    
    <h2>@ViewBag.Title.</h2>
   <h3> Food glorius food</h3>

    <p>This is a website devoted to food recipes. </p>
   <p> If you wish to join please register and submit a recipe.</p>
    <p> We will soon have a vote button and favorite button, so you can vote for a recipe you like and favorite the ones you really like or down vote what you hate.</p>
    </div>
